body
{
	width: 100%;
}

#fundo1
{
	background-image: url(imagens/fundo1.png);
	background-size: contain;
	background-repeat: no-repeat;
	width: 100%;
	height: 518px;
}

#busca
{
	width: 10%;
	height: auto;
}

input.padrao
{
	width: 50%;
	height: auto;
}

img.padrao
{
	width: 100%;
	height: auto;
}
